<div class="panel panel-default">
    <div class="panel-heading" style="height: 170px">
        <h4>Contact Name</h4>
        
        <div class="pull-left">
            <img [src]="contact.imageUrl" style="max-height: 100px;">
        </div>
        <div class="pull-right">
            <a class="btn btn-primary editBtn">Edit</a>
            <a class="btn btn-danger">Delete</a>
        </div> 
    </div>

    <div class="panel-body">
        <p class="list-group-item-heading">Contact Email</p>
        <p class="list-group-item-heading">Contact Phone</p>
    </div>
  </div>