<div class="panel panel-default spacing">
    <div class="panel-heading" style="height: 170px">
        <h4>Contact Name</h4>
        
        <div class="pull-left">
            <img [src]="contact.imageUrl" style="max-height: 100px;">
        </div>
        <div class="pull-right">
            <a [routerLink]="['edit']" class="btn btn-primary editBtn">Edit</a>
            <a (click)="onDelete()" class="btn btn-danger">Delete</a>
        </div> 
    </div>

    <div class="panel-body">
        <p class="list-group-item-heading">{{ contact.name }}</p>
        <p class="list-group-item-heading">{{ contact.email }}</p>
        <p *ngIf="contact.group != null">Contacts:</p>
        <div *ngFor="let contact of contact.group; let i = index">
            <div>
              <cms-contact-item class="col-sm-11" [contact]="contact"></cms-contact-item>
            </div>
        </div>

    </div>


  </div>