<div class="row">
  <div class="panel panel-default spacing">
    <div class="panel-heading col-xs-12"> 
      <div class="col-xs-9">
        <span class="header">Contacts</span>
      </div>
      <div class="col-xs-3">
        <a [routerLink]="['new']" class="btn btn-success">New Contact</a>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 spacing">
          <cms-contact-item *ngFor="let contact of contacts" [contact]="contact" dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']" [routerLink]="[contact.id]"  ></cms-contact-item>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- *ngFor let contact of contacts [contact]="contact" 
*ngIf="contact?.imageUrl"
-->